

.agent-prompt-container {
  width: 70rem !important;
  margin: 0 auto;
  background: white;
}

.agent-prompt-container .text-input {
  font-size: var(--font-size-base);
  background: lightgray;
  border: none;
  padding: .5rem 1rem;
  border-radius: 10px !important;
  width: 95%;
}

.agent-prompt-container .text-input::placeholder {
  font-size: var(--font-size-base);
}

.agent-prompt-container .text-input:focus {
  outline: none;
}